asgiref==3.5.2
charset-normalizer==2.0.12
distlib==0.3.4
Django==4.1.1
dnspython==2.2.1
filelock==3.6.0
idna==3.3
Markdown==3.4.1
multidict==6.0.2
Pillow==9.2.0
platformdirs==2.5.2
psycopg2==2.9.4
Pygments==2.13.0
requests==2.27.1
sqlparse==0.4.3
typing_extensions==4.2.0
tzdata==2022.5
virtualenv==20.14.1
whitenoise==6.2.0
