<html>
    <head>
        <title>Codegether</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'styles.css' %}" />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                jax: ["input/TeX", "output/HTML-CSS"],
                extensions: ["tex2jax.js"],
                tex2jax: {
                    inlineMath: [
                        ["$", "$"],
                        ["\\(", "\\)"],
                    ],
                },
            });
        </script>

        <script
            type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        ></script>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />

        <style>
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            a {
                font-family: "Poppins", sans-serif;
            }

            code {
                font-size: 0.9375rem !important;
            }

            body {
                margin: 0;
                padding: 0;
            }
        </style>

        <script src="https://use.fontawesome.com/05f9009fe4.js"></script>
        <script
            src="https://kit.fontawesome.com/63a581d50e.js"
            crossorigin="anonymous"
        ></script>

        <link
            rel="stylesheet"
            href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"
        />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
        <script src="{% static 'app.js' %}"></script>
    </head>

    <body>
        {% block content %} {% endblock %}

        {% include 'codegether/nav.html' %}
    </body>

    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</html>
